.build_portfolio_section {
    /*padding-top: 100px;*/
    height: auto;
    padding: 100px 0 50px 0;
}

.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-weight: 300;
}