.profileSection {
    padding-top: 100px;
}

.myPortfoliosWrapper {
    display: flex;
    flex-direction: column;
}

.myPortfoliosWrapper h1 {
    font-weight: 300;
}

.portfoliosContainer {
    padding: 25px 0 25px 0;
}

.singlePortfolio {
    background-color: #172A45;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.portfolioUpdateSection {
    padding: 25px 0 25px 0;
}

.portfolioUpdateSection h1 {
    font-weight: 300;
}

.controlButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}