.contentsHolder {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*flex-direction: column;*/
    /*width: 80%;*/
    /*height: 50vh;*/
    /*background-color: yellow;*/
    /*margin: auto;*/
}

.tabbedContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.landingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.authControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: red;*/
    padding: 10px 0 10px 0;
}

.landingHeading {
    padding: 50px 0 10px 0;
    /*background-color: yellow;*/
}

.landingHeading h1, p, h4 {
    font-weight: 300;
}

.landingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}